package ${package.Entity};

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableField;
import lombok.Data;

import java.io.Serializable;
import java.time.LocalDateTime;

@Data
@TableName("${table.name}")
public class ${entity} implements Serializable{
    private static final long serialVersionUID = 1L;

#foreach($field in $table.fields)
    #if($field.keyFlag)
    /**
     * 主键：${field.comment}
     */
    @TableId(value = "${field.columnName}", type = IdType.AUTO)
    private ${field.propertyType} ${field.propertyName};
    #else
    /**
     * ${field.comment}
     */
    @TableField("${field.columnName}")
    private ${field.propertyType} ${field.propertyName};
    #end
#end

}

