package ${package.Service};

import ${package.Entity}.${entity};
import java.util.List;

/**
 * ${entity} 服务接口
 */
public interface ${entity}Service {

    // 查询所有
    List<${entity}> selectAll();

    // 根据ID查询
    ${entity} selectById(Long id);

    // 插入
    void insert(${entity} entity);

    // 更新
    void updateById(${entity} entity);

    // 删除
    void deleteById(Long id);
}
